<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="pull-left">任务列表</span>
        <ul class="panel-heading-group">
            <li class="panel-heading-input"><span><input class="form-control input-sm" placeholder="搜索任务" ng-model="jobFilter"></span></li>
            <li ng-click="jobFn.find()"><a href="#"><fa i="refresh">&nbsp;刷新列表</fa></a></li>
            <li ng-click="jobFn.form()"><a href="#"><fa i="plus">&nbsp;添加任务</fa></a></li>
            <li ng-click="appFn.form(current.papp)"><a href="#"><fa i="cog">&nbsp;配置应用</fa></a></li>
            <li panel-heading-dropdown>
                <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                <ul class="panel-heading-dropdown">
                    <li ng-repeat="app in $apps|exclude:current.app"><a href="#" ng-click="appFn.active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <table>
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr>
            <th>名称</th>
            <th>代码</th>
            <th>日切</th>
            <th>类型</th>
            <th>表达式</th>
            <th>状态</th>
            <th>下次执行时间</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs|orderBy:'-status'|filter:jobFilter">
            <td ng-bind="job.name"></td>
            <td ng-bind="job.code"></td>
            <td ng-bind="job.date|empty:'-'|date:'yyyy-MM-dd'"></td>
            <td ng-bind="job.typeName"></td>
            <td ng-bind="job.expression"></td>
            <td ng-class="{'text-danger': job.status === '00', 'text-success': job.status === '01'}" ng-bind="job.statusName"></td>
            <td ng-bind="job.nextFireTime|empty:'-'|date:'yyyy-MM-dd HH:mm:ss'"></td>
            <td class="link-group">
                <a href="#" class="link-group-item" ng-click="jobFn.popTriggerModal(job)">立即执行</a>
                <a href="#" class="link-group-item" ng-click="jobFn.log(job)">日志</a>
                <a href="#" class="link-group-item" ng-click="jobFn.toggle(job)" ng-if="job.status === '00'">运行</a>
                <a href="#" class="link-group-item" ng-click="jobFn.toggle(job)" ng-if="job.status === '01'">暂停</a>
                <a href="#" class="link-group-item" ng-if="job.status === '00'" ng-click="jobFn.form(job)">编辑</a>
                <!-- a href="#" class="link-group-item" ng-if="job.status === '00'">移除</a -->
            </td>
        </tr>
        <tr ng-if="ctrl.status('grid', ['loaded']) && valid.empty(jobs|filter:jobFilter)"><td class="text-warning" col-span><fa i="exclamation-triangle">&nbsp;${_M('common.empty')}</fa></td></tr>
        <tr ng-if="ctrl.status('grid', ['loading'])"><td col-span><fa i="spinner spin">&nbsp;${_M('common.processing')}</fa></td></tr>
        </tbody>
    </table>
</div>
<!-- #include('modal_trigger.html') -->