<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <span class="pull-left" ng-show="ctrl.status('gridView', ['grid'])">任务列表</span>
        <span class="pull-left" ng-show="ctrl.status('gridView', ['appForm'])">应用设置</span>
        <ul class="panel-heading-group">
            <li class="panel-heading-input" ng-show="ctrl.status('gridView', ['grid'])"><span><input class="form-control input-sm" placeholder="搜索任务" ng-model="jobFilter"></span></li>
            <li ng-click="jobFn.form()" ng-show="ctrl.status('gridView', ['grid'])"><a href="#"><fa i="plus">&nbsp;添加任务</fa></a></li>
            <li ng-click="appFn.form(current.papp)" ng-show="ctrl.status('gridView', ['grid'])"><a href="#"><fa i="cog">&nbsp;配置应用</fa></a></li>
            <li panel-heading-dropdown>
                <a href="#"><span ng-bind="current.app.name"></span>&nbsp;<fa i="caret-down"></fa></a>
                <ul class="panel-heading-dropdown">
                    <li ng-repeat="app in $apps|exclude:current.app"><a href="#" ng-click="appFn.active(app)"><fa i="caret-right">&nbsp;<span ng-bind="app.name"></span></fa></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <table class="ng-fade" ng-show="ctrl.status('gridView', ['grid'])">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="20%">
            <col width="20%">
        </colgroup>
        <thead>
        <tr>
            <th>名称</th>
            <th>代码</th>
            <th>日切</th>
            <th>类型</th>
            <th>表达式</th>
            <th>状态</th>
            <th>下次执行时间</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="job in jobs|orderBy:'-status'|filter:jobFilter">
            <td ng-bind="job.name"></td>
            <td ng-bind="job.code"></td>
            <td ng-bind="job.date|empty:'-'|date:'yyyy-MM-dd'"></td>
            <td ng-bind="job.typeName"></td>
            <td ng-bind="job.expression"></td>
            <td ng-class="{'text-danger': job.status === '00', 'text-success': job.status === '01'}" ng-bind="job.statusName"></td>
            <td ng-bind="job.nextFireTime|empty:'-'|date:'yyyy-MM-dd HH:mm:ss'"></td>
            <td class="link-group">
                <a href="#" class="link-group-item" ng-click="jobFn.trigger(job)">立即执行</a>
                <a href="#" class="link-group-item" ng-click="jobFn.log(job)">日志</a>
                <a href="#" class="link-group-item" ng-click="jobFn.toggle(job)" ng-if="job.status === '00'">运行</a>
                <a href="#" class="link-group-item" ng-click="jobFn.toggle(job)" ng-if="job.status === '01'">暂停</a>
                <a href="#" class="link-group-item" ng-if="job.status === '00'" ng-click="jobFn.form(job)">编辑</a>
                <!-- a href="#" class="link-group-item" ng-if="job.status === '00'">移除</a -->
            </td>
        </tr>
        <tr ng-if="ctrl.status('grid', ['loaded']) && valid.empty(jobs|filter:jobFilter)"><td class="text-warning" col-span><fa i="exclamation-triangle">&nbsp;${app.msg('common.empty')}</fa></td></tr>
        <tr ng-if="ctrl.status('grid', ['loading'])"><td col-span><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></td></tr>
        </tbody>
    </table>

    <div class="panel-body ng-fade" ng-show="ctrl.status('gridView', ['appForm'])">
        <form name="appForm" method="post" action="#" class="form-horizontal" ng-submit="appFn.save($event)">
            <div class="form-group">
                <label class="col-sm-1 control-label">名称</label>
                <div class="col-sm-2">
                    <input name="name" class="form-control" ng-model="app.name" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label"><rq>请求地址</rq></label>
                <div class="col-sm-4">
                    <input type="url" name="url" class="form-control" placeholder="http://" ng-model="app.url" required maxlength="250">
                    <alert-pop field="appForm.url">
                        <alert-pop-item type="required">请求地址不能为空</alert-pop-item>
                        <alert-pop-item type="url">请求地址格式不正确</alert-pop-item>
                        <alert-pop-item type="maxlength">请求地址不能超过250个字符</alert-pop-item>
                    </alert-pop>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">通知邮件</label>
                <div class="col-sm-4">
                    <textarea name="email" class="form-control" rows="3" placeholder="多个邮件地址请使用西文逗号分隔" ng-model="app.email"></textarea>
                </div>
            </div>
            <div class="form-group" ng-if="!valid.empty(app.id)">
                <label class="col-sm-1 control-label">配置参数</label>
                <div class="col-sm-6">
                    <pre class="margin-bottom-zero">pisces:<br>  host: "${App::config('server_url')}"<br>  app:<br>    id: "{{app.id}}"<br>    secret: "{{app.secret}}"</pre>
                </div>
            </div>
            <div class="form-group margin-bottom-zero">
                <div class="col-sm-offset-1 col-sm-11">
                    <button class="btn btn-success" ng-disabled="appFn.disabledSaveBtn()">
                        <span ng-show="ctrl.status('appSaveBtn', ['standby'])"><fa i="floppy-o">&nbsp;${app.msg('common.op.save')}</fa></span>
                        <span ng-show="ctrl.status('appSaveBtn', ['processing'])"><fa i="spinner spin">&nbsp;${app.msg('common.processing')}</fa></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="jobFn.cancel()" ng-if="!valid.empty(app.id)"><fa i="times-circle">&nbsp;${app.msg('common.op.cancel')}</fa></button>
                </div>
            </div>
        </form>
    </div>
</div>