<script type="text/javascript">
    'use strict';
    function jobFormCtrl($scope) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.findJobTypes();
                $scope.tabFn.setup();
            },

            // 标签功能集合
            tabFn: {
                // 设置
                setup: function() {
                    $scope.tabs = [];
                    $scope.tabs.push({name: '基础', url: '${app}/_view/job@form_basic'});
                    if (!$scope.valid.empty($scope.current.job)) {
                        $scope.tabs.push({name: '参数', url: '${app}/_view/job@form_param'});
                        $scope.tabs.push({name: '控制', url: '${app}/_view/job@form_ctrl'});
                    }
                    $scope.tabFn.active($scope.tabs[0]);
                },

                // 激活
                active: function(tab) {
                    $scope.current.tab = tab;
                    $scope.tabUrl = $scope.current.tab.url + '?' + $scope.date.timestamp();
                }
            },

            // 查询任务类型
            findJobTypes: function() {
                $scope.get('${app}/_dict/job_type', function(data) {
                    $scope.jobTypes = data;
                });
            }
        }).init();
    }
</script>