<script type="text/javascript">
    'use strict';
    function jobCtrl($scope, $http) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.findJobTypes();
                $scope.findJobCtrlTypes();
                $scope.appFn.active($scope.$apps[0]);
            },

            // 任务功能集合
            jobFn: {
                // 查询数据
                find: function() {
                    $scope.ctrl.status('gridView', 'grid');
                    $scope.ctrl.status('grid', 'loading');
                    $http({
                        method: 'jsonp',
                        url: '${App::config("server_url")}/api/find_all/' + $scope.current.papp.id + '?' + $scope.date.timestamp()
                    }).then(function(data) {
                        $scope.jobs = data.data;
                        $scope.ctrl.status('grid', 'loaded');
                    }, function(data) {
                        console.error(data);
                        $scope.ctrl.status('grid', 'loaded');
                    });
                },

                // 任务表单
                form: function(job) {
                    $scope.current.job = job || {};
                    $scope.tabFn.setup();
                    $scope.ctrl.status('view', 'form');
                },

                // 切换任务状态
                toggle: function(job) {
                    $scope.put('${app}/job/toggle/' + job.id, function(data) {
                        $scope.array.replace($scope.jobs, data.data);
                    });
                },

                // 取消
                cancel: function() {
                    $scope.ctrl.status('view', 'grid');
                    $scope.ctrl.status('gridView', 'grid');
                }
            },

            // 应用功能集合
            appFn: {
                // 激活
                active: function(app) {
                    $scope.current.app = app;
                    $scope.jobFn.cancel();
                    $scope.get('${app}/job/check_app/' + $scope.current.app.id, function(data) {
                        $scope.current.papp = data;
                        $scope.jobFn.find();
                    }, null, null, function() {
                        $scope.appFn.form();
                    });
                },

                // 应用表单
                form: function(app) {
                    $scope.app = angular.extend({
                        name: $scope.current.app.name,
                        leoAppId: $scope.current.app.id
                    }, app);

                    $scope.object.delete($scope.app, ['creator', 'createTime', 'updater', 'updateTime']);
                    $scope.ctrl.status('gridView', 'appForm');
                    $scope.ctrl.status('appSaveBtn', 'standby');
                },

                // 保存应用
                save: function($event) {
                    $scope.ctrl.stop($event);
                    $scope.ctrl.status('appSaveBtn', 'processing');
                    if ($scope.valid.empty($scope.app.id)) {
                        $scope.appFn.create($scope.app);
                    } else {
                        $scope.appFn.update($scope.app);
                    }
                },

                // 创建应用
                create: function(app) {
                    $scope.post('${app}/job/create_app', app, function() {
                        $scope.appFn.active($scope.current.app);
                    }, function() {
                        $scope.ctrl.status('appSaveBtn', 'standby');
                    });
                },

                // 更新应用
                update: function(app) {
                    $scope.put('${app}/job/update_app', app, function() {
                        $scope.jobFn.cancel();
                    }, function() {
                        $scope.ctrl.status('appSaveBtn', 'standby');
                    });
                },

                // 判断应用保存按钮是否有效
                disabledSaveBtn: function() {
                    if ($scope.appForm.$invalid) return true;
                    else if ($scope.ctrl.status('appSaveBtn', ['processing'])) return true;
                    return false;
                }
            },

            // 标签功能集合
            tabFn: {
                // 设置
                setup: function(isAdd) {
                    if (!isAdd) {
                        $scope.tabs = [];
                        $scope.tabs.push({name: '基础', url: '${app}/_view/job@form_basic'});
                    } if (!$scope.valid.empty($scope.current.job.id)) {
                        $scope.tabs.push({name: '参数', url: '${app}/_view/job@form_param'});
                        $scope.tabs.push({name: '控制', url: '${app}/_view/job@form_ctrl'});
                    } if (!isAdd) {
                        $scope.tabFn.active($scope.tabs[0]);
                    }
                },

                // 激活
                active: function(tab) {
                    if ($scope.current.tab !== tab) {
                        $scope.current.tab = tab;
                        $scope.tabUrl = $scope.current.tab.url + '?' + $scope.date.timestamp();
                    }
                }
            },

            // 查询任务类型
            findJobTypes: function() {
                $scope.get('${app}/_dict/job_type', function(data) {
                    $scope.jobTypes = data;
                });
            },

            // 查询任务控制类型
            findJobCtrlTypes: function() {
                $scope.get('${app}/_dict/job_ctrl_type', function(data) {
                    $scope.jobCtrlTypes = data;
                });
            },

            //
            current: {}
        }).init();
    }
</script>