<script type="text/javascript">
    'use strict';
    function jobCtrl($scope, $bootstrap) {
        angular.extend($scope, {
            // 初始化
            init: function() {
                $scope.findJobTypes();
                $scope.findJobCtrlTypes();
                $scope.appFn.active($scope.$apps[0]);
            },

            // 任务功能集合
            jobFn: {
                // 查询数据
                find: function() {
                    $scope.ctrl.status('grid', 'loading');
                    $scope.get('${app}/job/find_all/' + $scope.current.papp.id + '?' + $scope.date.timestamp(), function(data) {
                        $scope.jobs = data;
                    }, function() {
                        $scope.ctrl.status('grid', 'loaded');
                    });
                },

                // 任务表单
                form: function(job) {
                    $scope.current.job = job || {};
                    $scope.jobUrl = '${app}/_view/job@form?' + $scope.date.timestamp();
                    $scope.ctrl.status('view', 'others');
                },

                // 触发任务
                trigger: function() {
                    $scope.ctrl.status('triggerBtn', 'processing');
                    $scope.get('${app}/job/trigger/' + $scope.current.job.id, function() {
                        $bootstrap.modal.hide('triggerModal');
                    }, function() {
                        $scope.ctrl.status('triggerBtn', 'standby');
                    });
                },

                // 显示日志
                log: function(job) {
                    $scope.current.job = job;
                    $scope.jobUrl = '${app}/_view/job@log?' + $scope.date.timestamp();
                    $scope.ctrl.status('view', 'others');
                },

                // 切换任务状态
                toggle: function(job) {
                    $scope.put('${app}/job/toggle/' + job.id, function(data) {
                        $scope.array.replace($scope.jobs, data.data);
                    });
                },

                // 弹出立即执行确认弹窗
                popTriggerModal: function(job) {
                    $scope.current.job = job;
                    $scope.ctrl.status('triggerBtn', 'standby');
                    $bootstrap.modal.show('triggerModal');
                },

                // 取消
                cancel: function() {
                    $scope.ctrl.status('view', 'grid');
                }
            },

            // 应用功能集合
            appFn: {
                // 激活
                active: function(app) {
                    $scope.current.app = app;
                    $scope.get('${app}/job/check_app/' + $scope.current.app.id, function(data) {
                        $scope.current.papp = data;
                        $scope.jobFn.cancel();
                        $scope.jobFn.find();
                    }, null, null, function() {
                        $scope.appFn.form();
                    });
                },

                // 应用表单
                form: function(app) {
                    $scope.jobUrl = '${app}/_view/job@app_form?' + $scope.date.timestamp();
                    $scope.app = angular.extend({name: $scope.current.app.name, leoAppId: $scope.current.app.id}, app);
                    $scope.object.delete($scope.app, ['creator', 'createTime', 'updater', 'updateTime']);
                    $scope.ctrl.status('view', 'others');
                }
            },

            // 查询任务类型
            findJobTypes: function() {
                $scope.get('${app}/_dict/job_type', function(data) {
                    $scope.jobTypes = data;
                });
            },

            // 查询任务控制类型
            findJobCtrlTypes: function() {
                $scope.get('${app}/_dict/job_ctrl_type', function(data) {
                    $scope.jobCtrlTypes = data;
                });
            },

            //
            current: {}
        }).init();
    }
</script>