<modal id="triggerModal" title="是否确认立即执行任务？">
    <p><fa i="info-circle">&nbsp;是否确认触发任务「<span ng-bind="current.job.name"></span>」？</fa></p>
    <p class="margin-bottom-zero">
        <textarea name="remark" class="form-control" placeholder="请填写任务执行备注" ng-model="modal.remark"></textarea>
    </p>
    <button class="btn btn-success" ng-click="jobFn.trigger()" ng-disabled="ctrl.status('triggerBtn', ['processing']) || valid.empty(modal.remark)">
        <span ng-show="ctrl.status('triggerBtn', ['standby'])"><fa i="car">&nbsp;立即执行</fa></span>
        <span ng-show="ctrl.status('triggerBtn', ['processing'])"><fa i="spinner spin">&nbsp;${_M('common.processing')}</fa></span>
    </button>
    <button class="btn btn-default" data-dismiss="modal"><fa i="times-circle">&nbsp;${_M('common.op.cancel')}</fa></button>
</modal>